html,
body {
    height: 100%;
    margin: 0;
}

body {
    margin-top: 0px;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.alert {
    color: white;
    font-weight: bold;
    background-color: #28a745;
    padding: 10px;
    margin-top: 120px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
}


/* ------- Error Page Styles ------- */
.wrap-error {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
}

#custom-msg-number {
    font-size: 6rem;
    color: #dc3545;
    display: flex;
    justify-content: center;
}

#custom-msg-number span {
    margin: 0 5px;
    animation: pop 0.6s ease forwards;
}

@keyframes pop {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.wrap-error h2 {
    font-size: 2rem;
    margin: 20px 0;
    color: #333;
}

.wrap-error p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
}

.wrap-error .btn-primary {
    padding: 10px 20px;
    font-size: 1rem;
}

/* ------- nav-bar styles ------- */


#logo img {
    width: 75px;
}

#logo {
    color: #08313A;
    font-weight: bold;
    margin-right: 0;
}

#logo:hover {
    color: #ffffff;
}

.navbar {
    background-color: #9acd32;
}

.toggler-custom {
    border: none;
}

.toggler-custom i {
    font-size: 24px;
    color: blanchedalmond;
    transition: color 0.3s ease;
}

.toggler-custom:hover i {
    color: #ffffff;
}

.navbar-nav .nav-link {
    color: #08313A;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-nav .nav-link.active {
    color: #0000ff;
    opacity: 0.8;
}

.navbar-nav .dropdown-menu {
    left: 0;
    right: auto;
    margin-top: 0.5rem;
    min-width: 100%;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0;
    background-color: #9acd32;

}

.navbar-nav .dropdown-item {
    padding: 5px 10px;
    transition: color 0.3s ease;
    font-weight: bold;
}

.navbar-nav .dropdown-item:hover {
    color: #ffd700;
    background-color: #3b6b4c;
}

#navbarCollapse {
    text-align: end;
}

a.dropdown-item {
    text-align: center;
    background-color: transparent;
}

.nav-link.active {
    margin-bottom: 4px;
}

/* -------- Hero Banner Styling -------- */

.hero-banner {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    max-height: 95%;
    object-fit: contain;
    z-index: 1;
}

/* -----About us section ----- */

hr {
    color: #0000ff;
    opacity: 0.5;
    width: 30%;
    margin: 0 auto;
    padding: 2px;
}

.about-section p {
    font-family: 'Georgia', serif;
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 1.2rem;
    color: #333333;
}

#about-title {
    padding-top: 45px;

}

.about-images {
    margin-top: 80px;
}

/* ------ featured animals section------- */

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.bg-image {
    position: relative;
    overflow: hidden;
}

.mask {
    transition: background-color 0.3s ease;
}

.bg-image:hover .mask {
    background-color: rgba(0, 0, 0, 0.3);
}

/* ---------- echoes app styling-------- */

.echo-custom {
    padding-top: 70px;
}

.custom-title {
    font-size: 2.4rem;
    color: #2c3e50;
    margin-bottom: 1rem;
}

.echo-line {
    color: #0000ff;
    opacity: 0.5;
    width: 30%;
    margin: 0 auto;
    padding: 2px;
}

.echoes-post {
    margin-top: 120px;
}

.image-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-hover:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.post-title {
    margin: 10px;
    background: #fff8dc;
    color: rgb(8, 25, 123);
    border-radius: 5px;
}

.post-subtitle {
    margin-left: 5%;
    color: rgb(27, 26, 26);
    background-color: rgb(219, 219, 127);
    display: flex;
    justify-content: flex-end;
}

#custom-echoes {
    margin-top: 120px;
}

#echo-audio {
    display: flex;
    justify-content: center;
    align-items: center;
}

#echo-audio audio {
    border: 5px solid black;
    border-radius: 25px;
}

.comment-custom {
    border: 2px solid lightgray;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.comment-custom .p-4 {
    border-left: 3px solid #0000ff;
}

.comment-custom h4 {
    font-size: 1.25rem;
    font-weight: bold;
}

.comment-custom p {
    font-size: 1rem;
}

.faded {
    opacity: 0.6;
    background-color: #ffe6e6;
}

.d-none {
    display: none;
}

.text-warning {
    color: #ff4207 !important;
}

.approval {
    color: blue;
}

.btn-danger {
    display: inline-block;
    font-weight: bold;
    color: white;
    border: 2px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 100px;
}

.btn-danger:hover {
    background-color: #45a049;
    color: black;
}

#funFactsCarousel {
    max-width: 100%;
    margin: 0 auto;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  
  .carousel-inner {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .carousel-item {
    flex: 0 0 auto;
    margin-right: 15px;
  }  


/* Card Styling */
.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    height: 95%;
    border: 1.5px solid rgba(84, 82, 82, 0.749);
    background-color: transparent;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 18px;
    color: #3cb371;
    font-weight: 600;
    text-align: center;
}

.card-title a {
    text-decoration: none;
    color: mediumseagreen;
}

.card-title a:hover {
    text-decoration: underline;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #0000ff;
}

.image-container {
    position: relative;
}

.pagination .page-link {
    color: #0000ff;
    font-weight: bold;
    padding: 10px 10px;
    margin: 0 15px;
    border: 2px solid #08313A;
    transition: all 0.3s ease-in-out;
}

.pagination .page-link:hover {
    background-color: #9acd32;
    color: #fff;
    text-decoration: none;
}

.bold-symbol {
    font-weight: bold;
    font-size: 1.3em;
}

/* ------ Card post styling ------ */

.btn-custom {
    display: block;
    margin: 0 auto;
}

/* --------Echoes Blogpost styling ------- */

.submit-box {
    border: 2px solid #dcdcdc;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#submit_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px 20px 0 10px;
    padding: 10px 0 10px 30px;
    border-radius: 5px;
}

.submit input,
.submit textarea {
    width: 93%;
    padding: 10px;
    border: 4px solid yellowgreen;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgba(128, 128, 128, 0.425);
}

.submit input::placeholder,
.submit textarea::placeholder {
    font-size: 14px;
    color: #777;
    text-align: center;
}

.btn-delete,
.btn-edit {
    color: black;
    background: yellowgreen;
    font-weight: bold;
}

#deleteModalLabel {
    display: block;
    margin-left: 150px;
    background-color: yellow;
    padding:9px;
    border-radius: 5px;
}

.delete-custom{
    display: block;
    margin: 0 auto;
}

/* ------- Contact form ------ */

.custom-heading {
    padding-top: 60px;
    margin-top: 0;
}

.custom-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    padding: 20px 0 10px 35px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.custom-form input,
.custom-form textarea {
    width: 93%;
    padding: 10px;
    border: 4px solid yellowgreen;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgba(128, 128, 128, 0.425);
}

.custom-form input::placeholder,
.custom-form textarea::placeholder {
    font-size: 14px;
    color: #777;
    text-align: center;
}

#custom-submit {
    font-weight: bold;
    background-color: transparent;
    color: black;
    border: 2px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

#custom-submit:hover {
    background-color: #45a049ec;
    color: #fff;
}

#video-custom {
    margin-bottom: 150px;

}

/* ---------- accounts styling ------ */

/* --------- Profile -------- */
.profile-box {
    background-color: #f9f9f9;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

#profile_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px 20px 0 10px;
    padding: 10px 30px;
    border-radius: 5px;
}

.profile input,
.profile textarea {
    width: 93%;
    padding: 10px;
    border: 4px solid yellowgreen;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgba(128, 128, 128, 0.425);
}

.profile input::placeholder,
.profile textarea::placeholder {
    font-size: 14px;
    color: #777;
    text-align: center;
}

.btn-success {
    display: block;
    margin: 0 auto;
    font-weight: bold;
    background-color: transparent;
    color: black;
    border: 2px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn-success:hover {
    background-color: #45a049;
    color: #fff;
}

/* ------- Custom Password Styling ---- */

.btn-secondary {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    background-color: transparent;
    color: black;
    border: 2px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    max-width: 200px;
    margin: 0 auto;
}

.btn-secondary:hover {
    background-color: #45a049;
    color: #fff;
}



/* ------login styling ------- */

#login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px 20px 0 10px;
    padding: 10px 30px;
    border-radius: 5px;
}

.login-box {
    background-color: #f9f9f9;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.login input,
.login textarea {
    width: 93%;
    padding: 10px;
    border: 4px solid yellowgreen;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgba(128, 128, 128, 0.425);
}

.login input::placeholder,
.login textarea::placeholder {
    font-size: 14px;
    color: #777;
    text-align: center;
}

#id_remember {
    display: inline-block;
    width: auto;
    margin-right: 8px;
    cursor: pointer;
}


.form-check-label {
    font-size: 18px;
    color: #555;
    display: inline-block;
    vertical-align: middle;
}

/* ----- signup styling ----- */
#signup_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px 20px 0 10px;
    padding: 10px 30px;
    border-radius: 5px;
}

.signup-box {
    background-color: #f9f9f9;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.custom-signup-p {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 15px;
}

.custom-link {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 16px;
}

.signup input,
.signup textarea {
    width: 93%;
    padding: 10px;
    border: 4px solid yellowgreen;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgba(128, 128, 128, 0.425);
}

.signup input::placeholder,
.signup textarea::placeholder {
    font-size: 14px;
    color: #777;
    text-align: center;
}

.btn-signup {
    display: block;
    margin: 0 auto;
    font-weight: bold;
    background-color: transparent;
    color: black;
    border: 2px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn-signup:hover {
    background-color: #45a049;
    color: #fff;
}

/* ------------ log out ---------- */

.logout-box {
    background-color: #f9f9f9;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    padding-bottom: 15px;
    padding-top: 10px;
    max-width: 55%;
    display: block;
    margin: 0 auto;
}

.btn-primary {
    font-weight: bold;
    background-color: transparent;
    color: black;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #45a049;
    color: #fff;
}


/* -------- footer ------ */

footer {
    margin-top: auto;
    padding: 10px 0;
}

.footer-container {
    width: 100%;
    background-color: #9acd32;
    color: #08313A;
    padding: 10px 0 5px 0;
}

.social-links {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer .social-links i {
    color: #08313A;
    font-size: 1.5rem;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer .social-links i:hover {
    color: #ffffff;
}

.text-center .text-line {
    color: #0000ff;
    margin-top: 4px;
    opacity: 0.5;
}

.text-center p {
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 0px;
}

/* ----- Responsive hero-banner adjustments ----- */
@media (max-width: 1492px) {
    /* ----hero banner ---- */

    .hero-banner {
        height: 100vh;
    }

    /*-------- footer -------- */
    .footer .footer-links {
        display: flex;
        text-align: center;
        justify-content: center;
    }
}

@media (max-width: 1024px) {

    /* ----hero banner ---- */
    .hero-banner {
        height: 75vh;
    }

}

@media (max-width: 768px) {

    /* ----hero banner ---- */
    .hero-banner {
        height: 55vh;
    }
}

@media (max-width: 576px) {

    /* ----hero banner ---- */
    .hero-banner {
        height: 45vh;
    }

    .comment-custom {
        text-align: left;
    }

}

@media (max-width: 425px) {

    /* ----hero banner ---- */

    .hero-banner {
        height: 25vh;
    }

}