{% extends "base.html" %}

{% block head_title %}Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{{ user.username }}'s Profile</h3>
            <div class="profile-info mt-4">
                <!-- Profile Image -->
                {% if user.profile.profile_image %}
                    <img src="{{ user.profile.profile_image.url }}" class="img-fluid rounded-circle profile-img" alt="{{ user.username }}">
                {% else %}
                    <img src="https://via.placeholder.com/150" class="img-fluid rounded-circle profile-img" alt="Placeholder Image">
                {% endif %}

                <!-- Profile Details -->
                <h4>{{ user.profile.name }}</h4>
                <p>Title: {{ user.profile.title }}</p>
                <p>Birth Date: {{ user.profile.birth_date|date:"F j, Y" }}</p>
                <p>Last Updated: {{ user.profile.updated_on|date:"F j, Y, g:i a" }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
