{% extends "base.html" %}

{% block content %}
<!-- 403 Error Handling Page -->
<div class="wrap-error">
    <div class="d-flex align-items-center h-100">
        <div class="container mt-5 text-center">
            <h1 id="custom-msg-number">
                <span>4</span>
                <span>0</span>
                <span>4</span>
            </h1>
            <h2>Page Not Found</h2>
            <p>Oops! The page you are looking for does not exist.</p>
            <a href="{% url 'home' %}" class="btn btn-primary mt-3">Please, Return to Home</a>
        </div>
    </div>
</div>
{% endblock %}
