{% extends "base.html" %}

{% block content %}
<!-- 500 Error Handling Page -->
<div class="wrap-error">
    <div class="d-flex align-items-center h-100">
        <div class="container mt-5 text-center">
            <h1 id="custom-msg-number">
                <span>4</span>
                <span>0</span>
                <span>4</span>
            </h1>
            <h2>Internal Server Error</h2>
            <p>We encountered a problem on our end. Please try again later.</p>
            <a href="{% url 'home' %}" class="btn btn-primary">Please, Return to Home</a>
        </div>
    </div>
</div>
{% endblock %}
