{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container echoes-post">
  <div class="row align-items-start mt-4">
    <div class="col-md-6">
      <div class="post-content">
        <h2 class="post-title text-center mb-3">{{ post.title }}</h2>
        <div>
          {{ post.content | safe }}
        </div>
      </div>
    </div>

    <!-- Right Column: Image and Audio -->
    <div class="col-md-6 text-center card card-body" id="custom-echoes">
      <!-- Image with Hover Effect -->
      <div class="mb-4">
        {% if post.featured_image.url %}
        <img src="{{ post.featured_image.url }}" alt="{{ post.title }}" class="img-fluid rounded image-hover"
          style="width: 100%; max-width: 400px; height: auto; object-fit: cover;">
        {% elif post.featured_image_local and post.featured_image_local.url %}
        <img src="{{ post.featured_image_local.url }}" alt="{{ post.title }}" class="img-fluid rounded image-hover"
          style="width: 100%; max-width: 400px; height: auto; object-fit: cover;">
        {% else %}
        <img src="{% static 'images/default.jpg' %}" alt="No Image Available" class="img-fluid rounded image-hover"
          style="width: 100%; max-width: 400px; height: auto; object-fit: cover;">
        {% endif %}
      </div>

      <!-- Audio -->
      <div class="mb-4" id="echo-audio">
        {% if post.sound_cloudinary %}
        <audio controls>
          <source src="{{ post.sound_cloudinary.url }}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        {% elif post.sound_local %}
        <audio controls>
          <source src="{{ post.sound_local.url }}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        {% else %}
        <audio controls>
          <source src="{% static 'sound/animals_sounds.mp3' %}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        {% endif %}
      </div>
    </div>
  </div>
  <div>
    <div>
      <span>{{ total_likes }} Likes</span>
      <form action="{% url 'like_post' post.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-sm">
          {% if liked %}
          <p style="letter-spacing: 0.6px;" class="btn-custom"><i class="fa-solid fa-heart-crack"> Dislike</i></p>
          {% else %}
          <p style="letter-spacing: 2px;" class="btn-custom"><i class="fa-regular fa-heart"> Like</i></p>
          {% endif %}
        </button>
      </form>
    </div>
    <p class="post-subtitle text-center mt-4">Written by: {{ post.author }} | {{ post.created_on }}</p>
  </div>

  <!-- Comments Section -->
  <section style="background-color: rgba(211, 211, 211, 0.232);">
    <div class="container my-5 py-5">
      <!-- Side-by-Side Columns -->
      <div class="col-md-10 mx-auto">
        <div class="d-flex flex-column flex-md-row justify-content-between">
          <!-- Recent Comments Section -->
          <div class="col-md-6 pe-md-3 border-md-end mb-4 mb-md-0" style="
          margin-top: 60px;">
            <h5 class="text-muted"><i class="far fa-comments"></i> ({{ comment_count }})</h5>
            <div id="post-container" data-post-slug="{{ post.slug }}">
              <div class="comment-custom">
                <div class="p-4">
                  <h4 class="mb-0 text-center">Recent Comments</h4>
                  <br>
                  {% for comment in comments %}
                  <div class="comment-item my-3 p-3 border rounded {% if not comment.approved and comment.author == user %}
              faded{% elif not comment.approved %} d-none{% endif %}" style="background-color: #f9f9f9;">
                    <!-- Author Name -->
                    <div class="comment-author mb-2">
                      <strong class="text-primary">{{ comment.name }}</strong>
                    </div>

                    <!-- Comment Body -->
                    <div class="comment-body mb-2" id="comment{{ comment.id }}">
                      <p class="mb-1" style="font-size: 1rem; color: #333;">{{ comment.body }}</p>
                    </div>


                    <!-- Timestamp -->
                    <div class="comment-timestamp text-muted" style="font-size: 0.875rem;">
                      Posted on: {{ comment.created_on|date:"F j, Y, g:i a" }}
                    </div>

                    <!-- Message for Pending Approval -->
                    {% if not comment.approved and comment.author == user %}
                    <p class="approval text-warning mt-2">
                      <i class="fa-solid fa-clock-rotate-left"></i> This comment is awaiting approval...
                    </p>
                    {% endif %}
                    {% if user.is_authenticated and comment.author == user %}
                    <button class="btn btn-delete" data-comment_id="{{ comment.id }}">Delete</button>
                    <button class="btn btn-edit" data-comment_id="{{ comment.id }}">Edit</button>
                    {% endif %}
                  </div>
                  {% empty %}
                  <p class="text-muted">No comments yet. Be the first to comment!</p>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

          <!-- Leave a Comment -->
          <div class="col-md-6 mb-4">
            <div class="p-4">
              {% if user.is_authenticated %}
              <h4 class="mb-3 fw-bold text-center">Leave a Comment:</h4>
              <form id="commentForm" method="post" style="margin-top: 1.3em;">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <p class="text-center" style="color:rgb(96, 78, 78);">Posting as: {{ user.username }}</p>
                <button type="submit" class="btn btn-primary" id="custom-submit">Post Comment</button>
              </form>
              {% else %}
              <p class="text-center fw-bold" style="color:rgb(96, 78, 78);"><i
                  class="fa-solid fa-arrow-right-to-bracket"></i> Please <a href="{% url 'account_login' %}">log in</a>
                to
                leave a comment.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
  </section>

  <!-- Delete confirmation modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bold" id="deleteModalLabel">Are you sure?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          Do you want to delete your comment? <br>
          This action cannot be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}

  {% block extras %}
  <script src="{% static 'js/comments.js' %}"></script>
  {% endblock %}