{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Carousel wrapper -->
<div id="funFactsCarousel" class="carousel slide text-center carousel-dark" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for fact in slider_facts %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <div class="slider-content">
        <!-- Check for Cloudinary image first, fallback to local image -->
        {% if fact.slider_image %}
        <img src="{{ fact.slider_image.url }}" alt="Image for {{ fact.blog_post.title }}"
          class="rounded-circle shadow-1-strong mb-4" style="width: 150px;">
        {% elif fact.slider_image_local %}
        <img src="{{ fact.slider_image_local.url }}" alt="Image for {{ fact.blog_post.title }}"
          class="rounded-circle shadow-1-strong mb-4" style="width: 150px;">
        {% else %}
        <img src="{% static 'images/default.jpg' %}" alt="Default Image" class="rounded-circle shadow-1-strong mb-4"
          style="width: 150px;">
        {% endif %}

        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h5 class="mb-3">{{ fact.blog_post.title|safe }}</h5>
            <p class="text-muted">
              <i class="fas fa-quote-left pe-2"></i>
              {{ fact.fact_text|safe }}
            </p>
          </div>
        </div>
        <div class="text-center mt-3">
          <a href="{% url 'home' %}" class="btn btn-primary"> <i class="fa-solid fa-arrow-left"> <i
                class="fa-solid fa-house"></i></i>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Carousel Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#funFactsCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#funFactsCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper -->
{% endblock %}